-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: smart_factory_db
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actuator_logs`
--

DROP TABLE IF EXISTS `actuator_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `actuator_logs` (
  `log_id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `device_id` int DEFAULT NULL,
  `actuator_type` varchar(50) NOT NULL,
  `action` enum('on','off') NOT NULL,
  `cause` enum('automatic_system','manual_command','testing') NOT NULL,
  `alert_id` bigint DEFAULT NULL,
  `duration_ms` int DEFAULT NULL,
  `triggered_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `device_id` (`device_id`),
  KEY `alert_id` (`alert_id`),
  KEY `fk_actuator_user` (`user_id`),
  CONSTRAINT `actuator_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE SET NULL,
  CONSTRAINT `actuator_logs_ibfk_2` FOREIGN KEY (`device_id`) REFERENCES `esp32_devices` (`device_id`) ON DELETE CASCADE,
  CONSTRAINT `actuator_logs_ibfk_3` FOREIGN KEY (`alert_id`) REFERENCES `alerts` (`alert_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_actuator_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `alerts`
--

DROP TABLE IF EXISTS `alerts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alerts` (
  `alert_id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `instance_id` int DEFAULT NULL,
  `sensor_type` varchar(50) NOT NULL,
  `reading_value` float NOT NULL,
  `threshold_crossed` float NOT NULL,
  `severity` enum('warning','danger') NOT NULL,
  `is_simulation` tinyint(1) DEFAULT '0',
  `triggered_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `resolved_at` datetime DEFAULT NULL,
  PRIMARY KEY (`alert_id`),
  KEY `instance_id` (`instance_id`),
  KEY `idx_alerts_active` (`user_id`,`resolved_at`),
  CONSTRAINT `alerts_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `alerts_ibfk_2` FOREIGN KEY (`instance_id`) REFERENCES `machine_instances` (`instance_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_alert_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `control_rules`
--

DROP TABLE IF EXISTS `control_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `control_rules` (
  `rule_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `sensor_type` varchar(50) NOT NULL,
  `threshold_val` float NOT NULL,
  `operator` enum('>','<','==','>=','<=') DEFAULT '>',
  `actuator_type` enum('cooling_fan','power_cutoff') NOT NULL,
  `action` enum('on','off') NOT NULL,
  `is_enabled` tinyint(1) DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`rule_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `control_rules_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `env_readings`
--

DROP TABLE IF EXISTS `env_readings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `env_readings` (
  `reading_id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `source_device_id` int DEFAULT NULL,
  `sensor_type` varchar(50) NOT NULL,
  `reading_value` float NOT NULL,
  `status` enum('safe','warning','danger') NOT NULL,
  `is_simulation` tinyint(1) DEFAULT '0',
  `captured_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`reading_id`),
  KEY `source_device_id` (`source_device_id`),
  KEY `idx_env_reads_ui` (`user_id`,`sensor_type`,`captured_at`),
  KEY `idx_env_readings_user_time` (`user_id`,`captured_at`),
  CONSTRAINT `env_readings_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `env_readings_ibfk_2` FOREIGN KEY (`source_device_id`) REFERENCES `esp32_devices` (`device_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_env_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15640 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `env_thresholds`
--

DROP TABLE IF EXISTS `env_thresholds`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `env_thresholds` (
  `env_threshold_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `sensor_type` varchar(50) NOT NULL,
  `warning_threshold` float NOT NULL,
  `danger_threshold` float NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`env_threshold_id`),
  UNIQUE KEY `uk_user_sensor` (`user_id`,`sensor_type`),
  CONSTRAINT `env_thresholds_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `esp32_devices`
--

DROP TABLE IF EXISTS `esp32_devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `esp32_devices` (
  `device_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `device_identifier` varchar(100) NOT NULL,
  `firmware_version` varchar(50) DEFAULT '1.0.0',
  `last_connected_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`device_id`),
  UNIQUE KEY `device_identifier` (`device_identifier`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `esp32_devices_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `lcd_message_logs`
--

DROP TABLE IF EXISTS `lcd_message_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lcd_message_logs` (
  `message_id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `device_id` int NOT NULL,
  `message_content` text NOT NULL,
  `is_acknowledged` tinyint(1) DEFAULT '0',
  `sent_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`message_id`),
  KEY `user_id` (`user_id`),
  KEY `device_id` (`device_id`),
  CONSTRAINT `lcd_message_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `lcd_message_logs_ibfk_2` FOREIGN KEY (`device_id`) REFERENCES `esp32_devices` (`device_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `machine_instances`
--

DROP TABLE IF EXISTS `machine_instances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `machine_instances` (
  `instance_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `machine_type_id` int NOT NULL,
  `esp32_device_id` int DEFAULT NULL,
  `instance_name` varchar(255) NOT NULL,
  `physical_location` varchar(255) DEFAULT NULL,
  `status` enum('online','offline','maintenance') DEFAULT 'offline',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`instance_id`),
  KEY `machine_type_id` (`machine_type_id`),
  KEY `esp32_device_id` (`esp32_device_id`),
  KEY `fk_machine_user` (`user_id`),
  CONSTRAINT `fk_machine_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `machine_instances_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT,
  CONSTRAINT `machine_instances_ibfk_2` FOREIGN KEY (`machine_type_id`) REFERENCES `machine_types` (`machine_type_id`) ON DELETE RESTRICT,
  CONSTRAINT `machine_instances_ibfk_3` FOREIGN KEY (`esp32_device_id`) REFERENCES `esp32_devices` (`device_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `machine_readings`
--

DROP TABLE IF EXISTS `machine_readings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `machine_readings` (
  `reading_id` bigint NOT NULL AUTO_INCREMENT,
  `instance_id` int NOT NULL,
  `source_device_id` int DEFAULT NULL,
  `sensor_type` varchar(50) NOT NULL,
  `reading_value` float NOT NULL,
  `status` enum('safe','warning','danger') NOT NULL,
  `is_simulation` tinyint(1) DEFAULT '0',
  `captured_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`reading_id`),
  KEY `source_device_id` (`source_device_id`),
  KEY `idx_mach_reads_ui` (`instance_id`,`sensor_type`,`captured_at`),
  KEY `idx_machine_readings_instance_time` (`instance_id`,`captured_at`),
  CONSTRAINT `fk_machine_reading_instance` FOREIGN KEY (`instance_id`) REFERENCES `machine_instances` (`instance_id`) ON DELETE CASCADE,
  CONSTRAINT `machine_readings_ibfk_1` FOREIGN KEY (`instance_id`) REFERENCES `machine_instances` (`instance_id`) ON DELETE CASCADE,
  CONSTRAINT `machine_readings_ibfk_2` FOREIGN KEY (`source_device_id`) REFERENCES `esp32_devices` (`device_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=1666 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `machine_thresholds`
--

DROP TABLE IF EXISTS `machine_thresholds`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `machine_thresholds` (
  `machine_threshold_id` int NOT NULL AUTO_INCREMENT,
  `instance_id` int NOT NULL,
  `sensor_type` varchar(50) NOT NULL,
  `warning_threshold` float NOT NULL,
  `danger_threshold` float NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`machine_threshold_id`),
  UNIQUE KEY `uk_instance_sensor` (`instance_id`,`sensor_type`),
  CONSTRAINT `machine_thresholds_ibfk_1` FOREIGN KEY (`instance_id`) REFERENCES `machine_instances` (`instance_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `machine_type_trend_summaries`
--

DROP TABLE IF EXISTS `machine_type_trend_summaries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `machine_type_trend_summaries` (
  `summary_id` int NOT NULL AUTO_INCREMENT,
  `machine_type_id` int NOT NULL,
  `sensor_type` varchar(50) NOT NULL,
  `period_type` enum('daily','weekly') NOT NULL,
  `period_start` datetime NOT NULL,
  `avg_value` float NOT NULL,
  `max_value` float NOT NULL,
  `min_value` float NOT NULL,
  `std_dev` float NOT NULL,
  `sample_count` int NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`summary_id`),
  UNIQUE KEY `uk_trend_period` (`machine_type_id`,`sensor_type`,`period_type`,`period_start`),
  CONSTRAINT `machine_type_trend_summaries_ibfk_1` FOREIGN KEY (`machine_type_id`) REFERENCES `machine_types` (`machine_type_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `machine_types`
--

DROP TABLE IF EXISTS `machine_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `machine_types` (
  `machine_type_id` int NOT NULL AUTO_INCREMENT,
  `type_name` varchar(150) NOT NULL,
  `description` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`machine_type_id`),
  UNIQUE KEY `type_name` (`type_name`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `system_config`
--

DROP TABLE IF EXISTS `system_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_config` (
  `config_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `auto_pilot` tinyint(1) DEFAULT '1',
  `last_updated` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`config_id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `system_config_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=173 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `threshold_audit_logs`
--

DROP TABLE IF EXISTS `threshold_audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `threshold_audit_logs` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `context_type` enum('environment','machine') NOT NULL,
  `context_id` int NOT NULL,
  `sensor_type` varchar(50) NOT NULL,
  `old_warning` float DEFAULT NULL,
  `new_warning` float DEFAULT NULL,
  `old_danger` float DEFAULT NULL,
  `new_danger` float DEFAULT NULL,
  `changed_by_user_id` int NOT NULL,
  `changed_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `changed_by_user_id` (`changed_by_user_id`),
  CONSTRAINT `threshold_audit_logs_ibfk_1` FOREIGN KEY (`changed_by_user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('admin','worker') DEFAULT 'worker',
  `last_login_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` datetime DEFAULT NULL,
  `factory_id` varchar(50) DEFAULT NULL,
  `status` enum('active','pending','rejected') DEFAULT 'active',
  `approval_token` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Temporary view structure for view `vw_active_critical_alerts`
--

DROP TABLE IF EXISTS `vw_active_critical_alerts`;
/*!50001 DROP VIEW IF EXISTS `vw_active_critical_alerts`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_active_critical_alerts` AS SELECT 
 1 AS `alert_id`,
 1 AS `username`,
 1 AS `instance_name`,
 1 AS `sensor_type`,
 1 AS `reading_value`,
 1 AS `threshold_crossed`,
 1 AS `triggered_at`,
 1 AS `is_simulation`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_ml_machine_readings`
--

DROP TABLE IF EXISTS `vw_ml_machine_readings`;
/*!50001 DROP VIEW IF EXISTS `vw_ml_machine_readings`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_ml_machine_readings` AS SELECT 
 1 AS `reading_id`,
 1 AS `type_name`,
 1 AS `instance_name`,
 1 AS `sensor_type`,
 1 AS `reading_value`,
 1 AS `status`,
 1 AS `captured_at`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vw_active_critical_alerts`
--

/*!50001 DROP VIEW IF EXISTS `vw_active_critical_alerts`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`Neer`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_active_critical_alerts` AS select `a`.`alert_id` AS `alert_id`,`u`.`username` AS `username`,`m`.`instance_name` AS `instance_name`,`a`.`sensor_type` AS `sensor_type`,`a`.`reading_value` AS `reading_value`,`a`.`threshold_crossed` AS `threshold_crossed`,`a`.`triggered_at` AS `triggered_at`,`a`.`is_simulation` AS `is_simulation` from ((`alerts` `a` join `users` `u` on((`a`.`user_id` = `u`.`user_id`))) left join `machine_instances` `m` on((`a`.`instance_id` = `m`.`instance_id`))) where ((`a`.`resolved_at` is null) and (`a`.`severity` = 'danger')) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_ml_machine_readings`
--

/*!50001 DROP VIEW IF EXISTS `vw_ml_machine_readings`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`Neer`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_ml_machine_readings` AS select `r`.`reading_id` AS `reading_id`,`mt`.`type_name` AS `type_name`,`m`.`instance_name` AS `instance_name`,`r`.`sensor_type` AS `sensor_type`,`r`.`reading_value` AS `reading_value`,`r`.`status` AS `status`,`r`.`captured_at` AS `captured_at` from ((`machine_readings` `r` join `machine_instances` `m` on((`r`.`instance_id` = `m`.`instance_id`))) join `machine_types` `mt` on((`m`.`machine_type_id` = `mt`.`machine_type_id`))) where ((`r`.`is_simulation` = false) and (`m`.`deleted_at` is null)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-12 19:53:25
